USE [master]
GO
/****** Object:  Database [ShoppingDb]    Script Date: 11/21/2023 2:10:13 AM ******/
CREATE DATABASE [ShoppingDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShoppingDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ShoppingDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShoppingDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ShoppingDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShoppingDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShoppingDb]
GO
/****** Object:  Table [dbo].[DiscountDetails]    Script Date: 11/21/2023 2:10:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscountDetails](
	[DiscountId] [int] IDENTITY(1,1) NOT NULL,
	[Item_ID] [int] NULL,
	[discountPercentage] [varchar](100) NOT NULL,
	[minimumPurchase] [int] NOT NULL,
 CONSTRAINT [PK_DiscountDetails] PRIMARY KEY CLUSTERED 
(
	[DiscountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemDetails]    Script Date: 11/21/2023 2:10:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemDetails](
	[Item_ID] [int] IDENTITY(1,1) NOT NULL,
	[Item_Name] [varchar](100) NOT NULL,
	[Item_Price] [int] NOT NULL,
 CONSTRAINT [PK_ItemDetails] PRIMARY KEY CLUSTERED 
(
	[Item_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShoppingDetails]    Script Date: 11/21/2023 2:10:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingDetails](
	[shopId] [int] IDENTITY(1,1) NOT NULL,
	[Item_ID] [int] NULL,
	[UserName] [varchar](100) NOT NULL,
	[Qty] [int] NOT NULL,
	[TotalAmount] [int] NULL,
	[Description] [varchar](200) NOT NULL,
	[shoppingDate] [datetime] NULL,
 CONSTRAINT [PK_ShoppingDetails] PRIMARY KEY CLUSTERED 
(
	[shopId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DiscountDetails] ON 

INSERT [dbo].[DiscountDetails] ([DiscountId], [Item_ID], [discountPercentage], [minimumPurchase]) VALUES (1, 1, N'13.3', 3)
INSERT [dbo].[DiscountDetails] ([DiscountId], [Item_ID], [discountPercentage], [minimumPurchase]) VALUES (3, 2, N'18.3', 2)
SET IDENTITY_INSERT [dbo].[DiscountDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[ItemDetails] ON 

INSERT [dbo].[ItemDetails] ([Item_ID], [Item_Name], [Item_Price]) VALUES (1, N'A', 50)
INSERT [dbo].[ItemDetails] ([Item_ID], [Item_Name], [Item_Price]) VALUES (2, N'B', 30)
INSERT [dbo].[ItemDetails] ([Item_ID], [Item_Name], [Item_Price]) VALUES (3, N'C', 20)
SET IDENTITY_INSERT [dbo].[ItemDetails] OFF
GO
USE [master]
GO
